/* font */

@font-face {
  font-family: 'nanumbarungothic';
  src: url(./font/NANUMBARUNGOTHIC.TTF);
}


body {
  margin: 0;
  font-family: "nanumbarungothic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
